.cardPreviewFourColumns {
	display: flex;
	border-radius: 5px;
	width: 90%;
	height: 18vw;
	margin: auto;
	flex-direction: column;
	box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 0.1), 1px 3px 2px -1px rgb(0 0 0 / 0.2);
	.imgCardPreview {
		width: 11.5vw;
		height: 11.5vw;
		margin: 5px auto 0px auto;
        border-radius: 7px;
	}
	.bottomCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto 0px;
		h5 {
			margin: 0px;
			width: fit-content;
			font-weight: 700;
			font-size: 0.9vw;
			margin-left: 7%;
			margin-bottom: 2px;
		}
		table {
			width: 90%;
			background-color: var(--modern-white);
			margin: auto;
			border-radius: 5px;
			tr {
                height: 20px;  

				th {
					font-weight: 500;
					font-size: 0.8vw;
					color: var(--gray-color);  
				}
				td {
					font-weight: 500;
					font-size: 0.8vw;
				}
			}
		}
	}
}
.cardPreviewFourColumns:hover{
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}
.cardPreviewFiveColumns {
	display: flex;
	box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 0.1), 1px 3px 2px -1px rgb(0 0 0 / 0.2);
	border-radius: 5px;
	width: 95%;
	height: 18vw;
	margin: auto;
	flex-direction: column;
	.imgCardPreview {
		width: 10vw;
		height: 10vw;
		margin: 5px auto 0px auto;
        border-radius: 7px;
	}
	.bottomCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto 0px;
		h5 {
			margin: 0px;
			width: fit-content;
			font-weight: 700;
			font-size: 0.9vw;
			margin-left: 7%;
			margin-bottom: 2px;
		}
		table {
			width: 90%;
			background-color: var(--modern-white);
			margin: auto;
			border-radius: 5px;
			tr {
                height: 20px;  

				th {
					font-weight: 500;
					font-size: 0.8vw;
					color: var(--gray-color);  
				}
				td {
					font-weight: 500;
					font-size: 0.8vw;
				}
			}
		}
	}
}
.cardPreviewFiveColumns:hover{
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .cardPreview{
        height: 20vw;
    }
}

