.cardPreviewFourColumns {
	display: flex;
	border-radius: 14px;
	width: 90%;
	height: 15.5vw;
	margin: 0.1rem auto 0.7rem;
	flex-direction: column;
	box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 0.2), 1px 3px 2px -1px rgb(0 0 0 / 0.3);
	transition: 0.15s;
}
.imgCardPreview {
	width: 90%;
	height: 70%;
	margin: 7px auto 0px auto;
	border-radius: 10px;
}
.bottomCard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 25%;
	margin-top: 5px;
	.land {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		margin: 0px 5%;
		width: fit-content;
		font-weight: 700;
		font-size: 1.7vh;
		width: fit-content;
	}
	.price {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		margin: 0 5%;
		width: fit-content;
		.priceLabel {
			font-weight: 700;
			font-size: 13px;
			color: var(--gray-darker);
		}
		.value {
			font-size: 13px;
			color: var(--gray-darker);
		}
	}
	.threeDots {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		justify-self: end;
		margin-right: 15%;
		margin-top: 5px;
	}
}
.cardPreviewFourColumns:hover {
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}
.cardPreviewFiveColumns {
	display: flex;
	border-radius: 14px;
	width: 90%;
	height: 14vw;
	margin: 0.1rem auto 0.7rem;
	flex-direction: column;
	box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 0.2), 1px 3px 2px -1px rgb(0 0 0 / 0.3);
	transition: 0.15s;
	.imgCardPreview {
		width: 90%;
		height: 70%;
		margin: 7px auto 0px auto;
		border-radius: 10px;
	}
}
.cardPreviewFiveColumns:hover {
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.2);
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	.cardPreview {
		height: 20vw;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.cardPreviewFourColumns, .cardPreviewFiveColumns {
		min-width: 173px;
		height: 230px;
		border-radius: 16px;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2);
	}
	.imgCardPreview {
		width: 90%;
		height: 90%;
		border-radius: 13px;
		margin-top: 7px;
	}
	.bottomCard {
		.price {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
			margin-top: 25px;
		}
	}
}
