.filters-container {
  width: 780px;
  height: 660px;
  padding: 21px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .filters-modal-top {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
      /* or 125% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #222222;
    }
  }
  .filters-modal-content {
    height: 550px;
    padding: 0 24px;
    margin-top: 32px;
    margin-bottom: 15px;
    overflow-y: scroll;
    .filters-modal-content-first {
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #222222;
      }
      h2 {
        margin: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #717171;
        margin-top: 8px;
      }
      .filters-modal-content-graphic {
        width: 650px;
        margin: 0 auto;
        margin-top: 30px;
        .graphic-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 24px;
          .graphic-text {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding-left: 12px;
            padding-top: 5px;
            padding-bottom: 5px;
            box-shadow: inset 0px 0px 0px 1px #b0b0b0;
            border-radius: 8px;
            h3 {
              margin: 0;
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: #717171;
            }
            h4 {
              margin: 0;
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #222222;
            }
          }
        }
      }
    }
    .filters-modal-content-second {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 30px;
      .filters-modal-content-second-text {
        box-shadow: inset 0px 0px 0px 1px #b0b0b0;
        border-radius: 8px;
        padding: 10px 8px 10px 10px;
      }
      h3 {
        margin: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #717171;
        padding-left: 4px;
        margin-bottom: 5px;
      }
      .content-select select {
        width: 100%;
        cursor: pointer;
        outline: 0;
        border: 0;
        background: #f0f0f0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        position: relative;
        transition: all 0.25s ease;
      }
    }
    .filters-modal-content-third {
      margin-top: 30px;
      h3 {
        margin: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #222222;
      }
      .filter-cards-container {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-top: 22px;
        .filter-cards {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          cursor: pointer;
          width: 130px;
          height: 120px;
          box-shadow: inset 0px 0px 0px 1.5px #757575;
          border-radius: 16px;
          padding-left: 15px;
          h4 {
            margin: 0;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #222222;
          }
        }
      }
    }
    .filters-modal-content-fourth {
      margin-top: 30px;
      padding-bottom: 15px;
      h3 {
        margin: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #222222;
      }
      .container-text {
        h4 {
          margin: 25px 0;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #222222;
        }
        .container-text-items {
          display: flex;
          align-items: center;
          gap: 20px;
          h5 {
            cursor: pointer;
            margin: 0;
            width: 75px;
            height: 37px;
            background: rgb(72, 179, 67);
            box-shadow: inset 0px 0px 0px 1px rgb(72, 179, 67);
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #ffffff;
          }
          h6 {
            cursor: pointer;
            margin: 0;
            width: 50px;
            height: 37px;
            background: #ffffff;
            box-shadow: inset 0px 0px 0px 1px #757575;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #222222;
          }
        }
      }
    }
  }
  .filters-modal-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      cursor: pointer;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-decoration-line: underline;
      color: #222222;
    }
    h2 {
      cursor: pointer;
      margin: 0;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      background: rgb(72, 179, 67);
      padding: 14px 25px;
      border-radius: 8px;
    }
  }
}

.filters-modal-content::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@media screen and (max-width: 840px) {
  .filters-container {
    width: 100%;
    padding: 21px 0;
    .filters-modal-top {
      padding-left: 21px;
    }
    .filters-modal-content {
      padding: 0 21px;
      .filters-modal-content-first {
        .filters-modal-content-graphic {
          width: 100%;
          img {
            width: auto;
          }
          .graphic-content {
            .graphic-text {
            }
          }
        }
      }
      .filters-modal-content-second {
        .filters-modal-content-second-text {
        }
        h3 {
        }
        .content-select select {
        }
      }
      .filters-modal-content-third {
        h3 {
        }
        .filter-cards-container {
          .filter-cards {
            h4 {
            }
          }
        }
      }
      .filters-modal-content-fourth {
        h3 {
        }
        .container-text {
          h4 {
          }
          .container-text-items {
            h5 {
            }
            h6 {
            }
          }
        }
      }
    }
    .filters-modal-bot {
      padding: 0 21px;
      h1 {
      }
      h2 {
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .filters-container {
    width: 100%;
    padding: 21px 0;
    .filters-modal-top {
      padding-left: 21px;
    }
    .filters-modal-content {
      padding: 0 21px;
      .filters-modal-content-first {
        .filters-modal-content-graphic {
          width: 100%;
          img {
            width: auto;
          }
          .graphic-content {
            .graphic-text {
            }
          }
        }
      }
      .filters-modal-content-second {
        .filters-modal-content-second-text {
        }
        h3 {
        }
        .content-select select {
        }
      }
      .filters-modal-content-third {
        h3 {
        }
        .filter-cards-container {
          .filter-cards {
            h4 {
            }
          }
        }
      }
      .filters-modal-content-fourth {
        h3 {
        }
        .container-text {
          h4 {
          }
          .container-text-items {
            h5 {
            }
            h6 {
            }
          }
        }
      }
    }
    .filters-modal-bot {
      padding: 0 21px;
      h1 {
      }
      h2 {
      }
    }
  }
}
