.supcontainer {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.96%, #FFFFFF 100%), url('../../assets/Fondo.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;


  .h1 {
    margin-left: 21.5%;
    margin-top: 7%;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 600;
    text-align: left;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
  }

  .h3 {
    font-family: 'Inter';
    text-align: left;
    margin-left: 20%;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: inline-block;
    word-break: break-all;
    
  }


  .divPopular {
    text-align: left;
    margin-left: 21.5%;

    .popular {
      font-family: 'Inter';
      color: rgba(0, 0, 0, 0.6);
      margin-top: 0;
      display: inline-block;
      word-break: break-all;
      margin-right: 1%;
      margin-left: 0%;
    }
  
    .question1 {
      font-family: 'Inter';
      display: inline-block;
      word-break: break-all;
      font-family: Inter;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-top: 0%;
      margin-bottom: 8%;
      text-decoration-line: underline;
      margin-right: 1%;
      margin-left: 0%;
    }
  
    .question2 {
      display: inline-block;
      word-break: break-all;
      font-family: Inter;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-top: 0%;
      margin-bottom: 8%;
      text-decoration-line: underline;
      margin-right: 1%;
      margin-left: 0%;
    }
  }
  
}
