#root {
  text-align: center;
}
.App {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.bgImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.SideBar {
  z-index: 5;
  top: 0;
  position: fixed;
}
.Page {
  width: 100%;
  display: flex;
  margin-top: 5em;
  flex-direction: row;
  /* z-index: 1; */
  position: relative;
}
.Modal {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
}
.App .PopUps {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 2em;
}

@media screen and (max-width: 900px) {
  .Page {
    margin-top: 5em;
  }
  .App {
    width: 100vw;
  }
}
