.statusComponent {
	display: flex;
	border: none;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 16px;
	.buttonStatus {
		border: none;
		background-color: #fff1f2;
		color: #f7931a;
		font-weight: 700;
		font-size: 14px;
		line-height: 40px;
		padding: 0 15px 0 15px;
		border-radius: 14px;
		transition: 0.25s;
	}
	.buttonStatus.isActive {
		background-color: #f7931a;
		color: var(--white-color);
	}
}
