.selector {
	display: flex;
    justify-content: space-between;
	gap: 10px;
    width: 90%;
	list-style: none;
	padding: 5px 20px;
	border-radius: 16px;
	background-color: var(--modern-white);
	.selector__li {
		display: flex;
        align-items: center;
        justify-content: center;
		width: 11vw;
		border-radius: 10px;
		height: 40px;
		cursor: pointer;    
	}
    .ul__li{
        font-weight: 700;
        color: rgba(22, 22, 26, 0.6);
        transition: 0.75s;
    }
    .active{
        color: var(--black-color)
    }
}
