@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.container2 {
    background-color:#F9FAFB;
    width: 582px;
    height: 555px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
    user-select: none
}
.header {
    margin: 0px;
    height: 24px;
    
    
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin: 18px 0px;
    color: #707EAE;
}

.table {
    position: relative;
    top: 0px;
    left: 16px;
    width: 506px;
    height: 450px;
    overflow-y: scroll;
}

.table::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.innerRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    button {
        padding: 0px;
        border: 0px;
        width: 120px;
        height: 35px;
        background-color: white;
        color:#707EAE;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: #F7931A;
            color: white;
        }
    }
}

.innerRow2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    cursor: pointer;
    p {
        padding-left: 75px;
        padding-right: 45px;
    }
}

.innerRow3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.searchDiv {
    width: 534px;
    position: relative;
    left: 16px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search {
    width: 288px;
    
    height: 40px;
    background-image: url('./assets/search-normal.svg');
    background-repeat: no-repeat;
    background-position: 3%;
    padding-left: 40px;
    background-color: #F9F9F9;
    border: none;
    box-shadow: none;
    font-size: 14px;
    outline: none;
}

.asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 506px;
    height: 45px;
    position: relative;
    left: 16px;
    top: 16px;
    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.016em;

        color: #000000;
    }
}