.realEstate {
	width: calc(100vw - 63px);
	height: 100vh;
	background: url('../../assets/background.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 63px;
	.containerEstate {
		width: 90vw;
		height: 90vh;
		max-width: 1520px;
		max-height: 967px;
		background-color: var(--white-color);
		border-radius: 16px;
		box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);

		#filters {
			gap: 15px;
		}
		.button__realEstate {
			border-radius: 14px;
			width: fit-content;
			background-color: var(--modern-white);
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 25px;
			font-style: normal;
			font-weight: 900;
			font-size: 14px;
		}
		.display {
			display: none;
		}
		.navBar {
			width: 95%;
			margin: 20px auto;
			display: grid;
			grid-template-columns: [one] 7.5% [second] 5.5% [third] 63% [fourth] 15.5% [fifth] 8.5%;
			grid-template-rows: repeat(2, 48px);
			row-gap: 20px;
			position:relative;
			h3 {
				grid-column-start: 2;
				grid-column-end: 4;
				grid-row-start: 1;
				grid-row-end: 2;
				font-size: 22px;
				width: fit-content;
				align-self: center;
			}
			#filters {
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			#refresh {
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			#order {
				grid-column-start: 4;
				grid-column-end: 5;
				grid-row-start: 2;
				grid-row-end: 3;
				margin: 0px auto;
				width: 90%;
			}
			.inputWrapper {
				position: relative;
				width: 100%;
				grid-column-start: 3;
				grid-column-end: 4;
				grid-row-start: 2;
				grid-row-end: 3;
				border-radius: 16px;
			}

			.input {
				box-sizing: border-box;
				color: var(--black-color) !important;
				padding: 15px 15px 15px 35px;
				width: 100%;
				background-color: var(--modern-white);
				border: none;
				border-radius: 16px;
				color: var(--gray-color);
				height: 48px;
				font-family: 'Inter';
			}
			.input:focus-visible {
				outline: none;
			}

			.inputIcon {
				position: absolute;
				width: 20px;
				height: 20px;
				left: 12px;
				top: 50%;
				transform: translateY(-50%);
				color: var(--gray-color);
			}
			.icon {
				width: 18px;
				height: 18px;
			}
		}
		.detailEstate {
			width: 85%;
			grid-template-columns: [one] auto [second] auto [third] 63% [fourth] auto;
			grid-template-rows: repeat(2, 48px);
		}
	}
	.wrapperAsideSection {
		display: flex;
		width: 100%;
		.animation {
			width: 100%;
			opacity: 1;
			transition: opacity 0.3s;
		}
		.animation.is-close {
			opacity: 0;
			background: none;
			pointer-events: none;
			transition: opacity 0.3s;
		}
		.asideFilters {
			width: 24%;
			position: relative;
			border: 2px solid var(--modern-white);
			border-radius: 16px;
			margin-left: 33px;
			height: 65vh;
			overflow: auto;
			scrollbar-color: var(--orange-darker) transparent;
			scrollbar-width: thin;
			display: flex;
			flex-direction: column;
			align-items: center;
			.buttonAsideFilter {
				width: 85%;
				min-height: 8vh;
				background-color: var(--white-color);
				display: flex;
				justify-content: space-between;
				align-items: center;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid;
				padding-left: 14px;
				font-weight: 600;
				img {
					width: 11px;
					height: 11px;
				}
			}
		}
		.asideFilters::-webkit-scrollbar {
			width: 2px;
			height: 5px;
		}

		.asideFilters::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}

		.asideFilters::-webkit-scrollbar-thumb:vertical {
			height: 15px;
			background-color: var(--orange-darker);
		}
		.previewEstatesFourColums {
			width: 72%;
			margin-left: 15px;
			max-height: 70vh;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 10px;
			overflow: auto;
			scrollbar-color: var(--orange-darker) transparent;
			scrollbar-width: thin;
		}
		.previewEstatesFiveColums {
			width: 72%;
			margin-left: 15px;
			max-height: 70vh;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 10px;
			overflow-y: auto;
			scrollbar-color: var(--orange-darker) transparent;
			scrollbar-width: thin;
		}

		.previewEstatesFourColums::-webkit-scrollbar {
			width: 2px;
			height: 5px;
		}

		.previewEstatesFourColums::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}

		.previewEstatesFourColums::-webkit-scrollbar-thumb:vertical {
			height: 15px;
			background-color: var(--orange-darker);
		}
		.previewEstatesFiveColums::-webkit-scrollbar {
			width: 2px;
			height: 5px;
		}

		.previewEstatesFiveColums::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}

		.previewEstatesFiveColums::-webkit-scrollbar-thumb:vertical {
			height: 15px;
			background-color: var(--orange-darker);
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.realEstate {
		width: 100vw;
		height: fit-content;
		margin: 4em 0px 0px 0px;
		align-items: flex-start;
		.containerEstate {
			width: 100%;
			max-height: none;
			height: fit-content ;
			background: transparent;
			margin: 0px;
			box-shadow: none;
			.display {
				display: flex;
				font-weight: 900;
			}
			.navBar {
				width: 100%;
				height: 18vh;
				position: fixed;
				display: grid;
				grid-template-columns: [one] 10% [second] 50% [third] auto;
				grid-template-rows: [one] 30px [second] 48px [third] 48px;
				grid-row-gap: 10px;
				z-index: 1;
				background: url('../../assets/background.jpg');
				margin: 0;
				top: 7%;
				transition: top 0.25s;
				h3 {
					grid-column-start: 2;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 2;
					margin: auto 0px 0px;
				}
				.inputWrapper {
					width: 100%;
					grid-column-start: 1;
					grid-column-end: 5;
					grid-row-start: 2;
					grid-row-end: 3;
				}
				#order {
					display: none;
				}
				#goBack {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 2;
					background-color: transparent;
					padding: 0;
					margin: 5px auto 0px;
				}
				#filters {
					width: 100%;
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 3;
					grid-row-end: 4;
					display: flex;
					justify-content: center;
				}
				#refresh {
					grid-column-start: 3;
					grid-column-end: 4;
					grid-row-start: 3;
					grid-row-end: 4;
					margin: 0px auto;
				}
				#menu {
					grid-column-start: 4;
					grid-column-end: 5;
					grid-row-start: 3;
					grid-row-end: 4;
					margin: 0px auto;

				}
			}
			.notShowNavBar {
				top: -20%;
				transition: top 0.25s;
			}
		}
		.wrapperAsideSection {
			margin-top: -25px;
			.asideFilters {
				margin: 0px;
				border-radius: 0px 16px;
				position: fixed;
				z-index: 999;
				top: 0;
				right: 5vw;
				width: 90vw;
				height: calc(100vh - 20px);
				background: rgba(0, 0, 0, 0.3);
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding-top: 20px;
				background-color: var(--white-color);
				left: 1%;
				transition: left 0.25s;
				.filter {
					display: flex;
					width: 85%;
					padding-left: 14px;
					padding-right: 5px;
					justify-content: space-between;
				}
				.btn-filter {
					width: 85%;
					justify-content: space-between;
					position: absolute;
					bottom: 15px;
				}
				.btn-reset {
					width: 45%;
					justify-content: center;
					padding: 15px;
					background-color: var(--orange-background) !important;
					color: var(--orange-darker) !important;
				}
				.btn-applay {
					width: 45%;
					justify-content: center;
					padding: 15px;
					background-color: var(--orange-darker) !important;
					color: var(--white-color) !important;
				}
			}
			.asideFilters.is-closed {
				left: -100%;
				pointer-events: none;
				transition: left 0.25s;
			}
			.previewEstatesFiveColums,
			.previewEstatesFourColums {
				width: 100%;
				height: fit-content;
				max-height: none;
				margin: 0;
				display: grid;
				overflow: unset;
				grid-template-columns: repeat(2, 1fr);
				padding-bottom: 10px;
				margin-top: 21vh;
			}
		}
	}
}
