.realEstate {
	height: 100vh;
	width: calc(100vw - 63px);
	background: url('../../assets/background.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 63px;
	.containerEstate {
		min-width: 85vw;
		height: 90vh;
		max-width: 1520px;
		max-height: 967px;
		background-color: var(--white-color);
		border-radius: 16px;
		box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
		h3 {
			font-size: 22px;
			width: 120px;
			margin: 27px 0 10px 47px;
		}
		nav {
			width: calc(100% - 47px);
			display: flex;
			justify-content: center;
			margin-bottom: 25px;
			.goBack{
				transform: rotate(90deg);
			}
			
			.isNotAButton {
				width: 114px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 14px;
				background-color: var(--modern-white);
				font-style: normal;
				font-weight: 900;
				font-size: 14px;
				color: var(--black-color);
				cursor: auto;
			}
			.filters {
				margin-left: 16px;
				margin-right: 16px;
				display: flex;
				background-color: var(--modern-white);
				justify-content: center;
				align-items: center;
				border-radius: 14px;
			}
			.inputWrapper {
				position: relative;
				max-width: 913px;
				width: 47%;
				height: 48px;
				margin-right: 16px;
				border-radius: 16px;
			}

			.input {
				box-sizing: border-box;
				color: var(--black-color) !important;
				padding: 15px 15px 15px 35px;
				width: 100%;
				background-color: var(--modern-white);
				border: none;
				border-radius: 16px;
				color: var(--gray-color);
				height: 48px;
				font-family: 'Inter';
			}
			.input:focus-visible {
				outline: none;
			}
			
			.inputIcon {
				position: absolute;
				width: 20px;
				height: 20px;
				left: 12px;
				top: 50%;
				transform: translateY(-50%);
				color: var(--gray-color);
			}
			#order {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 187px;
				height: 48px;
				align-items: center;
				margin-right: 16px;
				border-radius: 14px;
				padding: 0 15px 0 15px;
				border-radius: 14px;
				background-color: var(--modern-white);
				font-style: normal;
				font-weight: 900;
				font-size: 14px;
				img {
					width: 11px;
					height: 11px;
					margin-left: 13px;
				}
			}
			.highToLow {
				img {
					transform: rotate(180deg);
				}
			}
		}
	}
	.wrapperAsideSection {
		display: flex;
		max-width: 85vw;
		.asideFilters {
			display: flex;
			width: 24%;
			flex-direction: column;
			align-items: center;
			border: 2px solid var(--modern-white);
			border-radius: 16px;
			margin-left: 33px;
			height: 65vh;
			overflow: auto;
			scrollbar-color: var(--orange-darker) transparent;
			scrollbar-width: thin;

			.buttonAsideFilter {
				width: 85%;
				min-height: 8vh;
				background-color: var(--white-color);
				display: flex;
				justify-content: space-between;
				align-items: center;
				border: none;
				border-radius: 0;
				border-bottom: 1px solid;
				padding-left: 14px;
				font-weight: 600;
				img {
					width: 11px;
					height: 11px;
				}
			}
			.buttonAsideFilter.isActive {
				img {
					rotate: 180deg;
				}
			}
		}
		.asideFilters::-webkit-scrollbar {
			width: 2px;
			height: 5px;
		}

		.asideFilters::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}

		.asideFilters::-webkit-scrollbar-thumb:vertical {
			height: 15px;
			background-color: var(--orange-darker);
		}
		.previewEstatesFourColums {
			width: 60vw;
			margin-left: 15px;
			max-height: 68vh;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 10px;
			overflow: auto;
			scrollbar-color: var(--orange-darker) transparent;
			scrollbar-width: thin;
		}
		.previewEstatesFiveColums {
			width: 60vw;
			margin-left: 15px;
			max-height: 68vh;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 0px;
			grid-row-gap: 10px;
			overflow-y: auto;
			scrollbar-color: var(--orange-darker) transparent;
			scrollbar-width: thin;
		}

		.previewEstates::-webkit-scrollbar {
			width: 2px;
			height: 5px;
		}

		.previewEstates::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}

		.previewEstates::-webkit-scrollbar-thumb:vertical {
			height: 15px;
			background-color: var(--orange-darker);
		}
	}
}
