@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.container-vertslider {
  width: 733px;
  height: 384px;
  background: #f9fafb;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 5px 3px 0px rgba(128, 128, 128, 0.7);

  .top-vertslider {
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-left: 28px;
    .title-vertslider {
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
      }
      h2 {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #6f767e;
      }
    }
    .icons-vertslider {
      height: 41px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding-top: 10px;
      padding-right: 15px;
      img {
        cursor: pointer;
      }
      .refresh {
        width: 20px;
      }
      .scoope {
        animation-name: girarb;
        animation-duration: 1.7s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      }
    }
  }
  .overflow {
    .scroll {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 35vh;
      overflow-y: scroll;
      .market-table {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 55px;
        .coin-name {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
        }
        .danger-status {
          h4 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

            color: #f3458c;
            margin: 0;
          }
        }

        h5 {
          margin: 0;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 19px;

          /* color 1 */

          color: #000000;
        }
        h6 {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          margin: 0;
          margin-top: 4px;

          /* color 2 */

          color: #6f767e;
        }
      }
    }
  }
}

.scroll::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@keyframes girarb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
