$breakpoints: (
    xs: 750px,
    sm: 900px,
    md: 1200px,
    lg: 1600px,
    lgh: 750px
);

@mixin media-down($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)){
        @content
    }
};

@mixin height-down($breakpoint) {
    @media screen and (max-height: map-get($breakpoints, $breakpoint)){
        @content
    }
};

.general {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1357px;
    top: 50px;
    
    
    
    @include media-down(lg) {
        zoom: 75%;
    }

    @include height-down(lgh) {
        zoom: 60%;
    }

    @include media-down(md) {
        zoom: 55%;
    }

    @include media-down(sm) {
        zoom: 45%;
    }

    @include media-down(xs) {
        display: flex;
        flex-direction: column;
    }
    
}

.columnOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 937px;
}