$breakpoints: (
    xs: 750px,
    sm: 900px,
    md: 1300px,
    lg: 1600px,
    smh: 680px,
    mdh: 780px,
    lgh: 880px,
    xlgh: 1020px
);

@mixin media-down($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)){
        @content
    }
};

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)){
        @content
    }
};

@mixin height-down($breakpoint) {
    @media screen and (max-height: map-get($breakpoints, $breakpoint)){
        @content
    }
};

.generalD {
    width: 100vw;
    height: 100vh;
    min-height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include media-down(xs) {
        overflow: auto;
    }
}

.dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1357px;
    top: 50px;

    @include media-down(lg) {
        zoom: 85%;
    }

    @include media-down(md) {
        zoom: 75%;
    }

    @include height-down(xlgh) {
        zoom: 85%;
    }

    @include height-down(lgh) {
        zoom: 75%;
    }

    @include height-down(mdh) {
        zoom: 65%;
    }

    @include height-down(smh) {
        zoom: 55%;
    }

    @include media-down(sm) {
        zoom: 45%;
    }

    @include media-down(xs) {
        position: relative;
        zoom: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 85%;
        max-height: 100vh;
        min-height: 650px;
        top: 0px;
    }
    
}

.columnOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 937px;

    @include media-down(xs) {
        width: 100%;
        height: 46%;
        margin-top: 15%;
    }
}

.columnTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 937px;

    @include media-down(xs) {
        justify-content: center;
        width: 100%;
        height: 37%;
    }
}

.hidden {
    @include media-down(xs) {
       display: none;
    }
}

.show {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 18px;
    /* identical to box height, or 164% */

    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #000000;

    @include media-up(xs) {
        display: none;
    }
}

.account {
    @include media-down(xs) {
        height: 100%;
        width: 100%;
    }
}

.markets {
    position: absolute;
    top: max(650px,100vh);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    @include media-up(xs) {
        display: none;
    }

    h2 {
        margin: 5px 0px;
        width: 100%;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 30px;
        color: #000000;

    }

    .buttons{
        display: flex;
        flex-direction: row;    
        width: 100%;
        justify-content: space-between;

        .buttonOff {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            align-content: center;
            text-align: center;
            flex-wrap: wrap;
    
            width: 175.2px;
            height: 50px;
            background-color: transparent;
            color:#9597A1;
            border-radius: 8px;
        }

        .buttonOn {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            align-content: center;
            text-align: center;
            flex-wrap: wrap;
            width: 175.2px;
            height: 50px;
            border-radius: 8px;
            background-color: #FFF1F2;;
            color: #F7931A;

        }
    }
}
