$breakpoints: (
  mobile: 540px,
  xs: 740px,
  sm: 852px,
  div: 940px,
  md: 1200px,
  l: 1420px,
  lg: 1600px,
);

@mixin media-down($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin height-down($breakpoint) {
  @media screen and (max-height: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.details {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  position: relative;
  @include media-down(mobile) {
    z-index: 99;
    height: 100vh;
  }
}
.foot {
  width: 100%;
}

.detailClasses {
  width: 100vw;
  @include media-down(mobile) {
    display: none;
  }
}

.mobileUpperControls {
  position: absolute;
  z-index: 99;
  top: -50px;
  @include media-up(mobile) {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  width: 90%;
  .controlsContainer {
    display: flex;
    .shareMobile {
      display: flex;
      padding-left: 7px;
      h2 {
        padding-left: 5px;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .saveMobile {
      display: flex;
      padding-left: 7px;
      h2 {
        padding-left: 5px;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
.detailsContainer {
  width: 80%;
  padding: 12px 0px 28px;
  @include media-down(mobile) {
    width: 100%;
    //padding-right: 10px;
  }
}
.test {
  margin-left: 0;
  height: 410px;
  height: fit-content;
  width: 100vw;
  @include media-up(mobile) {
    display: none;
  }
}

.detailsHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include media-down(mobile) {
    z-index: 99;
  }
}

.detailsTitle {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  @include media-down(mobile) {
    padding: 0px 10px;
    z-index: 99;
  }
  .groupTitle {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .avatarMobile {
    display: flex;
    width: 56px;
    height: 56px;
    @include media-up(mobile) {
      display: none;
    }
  }
  h1 {
    display: flex;
    align-items: start;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }
  .detailsSubtitle {
    display: flex;
    justify-content: space-between;
    .cityAndPoints {
      display: flex;
      gap: 8px;
      @include media-down(mobile) {
        flex-direction: row-reverse;
      }
      .group {
        display: flex;
      }
      .dot {
        display: flex;
        align-items: center;
        color: #6b7280;
      }
      .city {
        text-decoration-line: underline;
        color: #6b7280;
      }
    }
    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    .cardShareSave {
      display: flex;
      gap: 16px;
      @include media-down(mobile) {
        display: none;
      }
      .cardShare {
        display: flex;
        gap: 4px;
      }
      .cardSave {
        display: flex;
        gap: 4px;
      }
    }
  }
}

.detailsImages {
  @include media-down(mobile) {
    display: none;
  }
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  //   box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  //   -webkit-box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  //   -moz-box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  @include media-down(sm) {
  }
  .one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    cursor: pointer;
    @include media-down(sm) {
      // height: 315px;
      // width: 315px;
      // object-fit: cover;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  .two {
    @include media-down(sm) {
      // height: 154px;
      // width: 176px;
      object-fit: cover;
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
    }
  }
  .three {
    @include media-down(sm) {
      // height: 154px;
      // width: 176px;
      object-fit: cover;
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
    }
  }
  .four {
    @include media-down(sm) {
      // height: 154px;
      // width: 176px;
      object-fit: cover;
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }
  .five {
    @include media-down(sm) {
      height: 154px;
      // width: 176px;
      object-fit: cover;
      grid-column-start: 4;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}
.showPhotosBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  position: absolute;
  border-radius: 8px;
  width: 167px;
  height: 36px;
  right: 3%;
  top: 80%;
  background-color: #ffffff;
  border: 1px solid #000000;
  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  img {
    width: auto;
    height: auto;
  }
}

.lowerDetails {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  @include media-down(sm) {
    padding-top: 29px;
  }
  @include media-down(mobile) {
    flex-direction: column;
    padding: 0px 10px;
    width: 160vw;
  }
}

.lowerLeft {
  display: flex;
  flex-direction: column;
  width: 771px;
  height: 812px;
  text-align: left;
  @include media-down(lg) {
    width: 60%;
    height: 50%;
  }
  @include media-down(mobile) {
    //width: 100%;
  }
  .head {
    display: flex;
    justify-content: space-between;
    height: auto;
    position: relative;
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        @include media-down(mobile) {
          display: none;
        }
      }
      h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        @include media-down(mobile) {
          font-size: 12px;
          padding-bottom: 70px;
        }
      }
    }
    .avatar {
      display: flex;
      width: 56px;
      height: 56px;
      @include media-down(mobile) {
        display: none;
      }
    }
  }
  .dividerLeft {
    margin: 24px 0px;

    @include media-down(xs) {
      margin-top: 48px;
    }
    @include media-down(div) {
      margin-top: 48px;
      margin-bottom: 0px;
    }
    @include media-down(mobile) {
      margin-top: 20px;
    }
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .bidMobile {
    @include media-up(mobile) {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
    }
    .equiv {
      font-family: "Inter";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: right;
    }
    // .sliderBtn {
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    //   border: 1px solid #000000;
    //   border-radius: 8px;
    //   height: 44px;
    //   width: 161px;
    //   margin-top: 17px;
    //   cursor: pointer;
    //   transition: all 0.25;
    //   input {
    //     border: none;
    //     width: 70%;
    //     padding-left: 12px;
    //     font-family: "Inter";
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 17px;
    //   }
    //   .subslide {
    //     display: flex;
    //     align-items: center;
    //     padding-right: 12px;
    //   }
    // }

    // .sliderBtn2 {
    //   display: flex;
    //   border: none;
    //   background-color: #f7931a;
    //   flex-direction: row-reverse;
    //   align-items: center;
    //   justify-content: space-between;
    //   border-radius: 8px;
    //   height: 44px;
    //   width: 161px;
    //   margin-top: 17px;
    //   cursor: pointer;
    //   transition: all 0.25;
    //   h1 {
    //     padding-right: 28px;
    //     font-family: "Inter";
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: 14px;
    //     line-height: 17px;
    //     color: #ffffff;
    //   }
    //   .subslide {
    //     display: flex;
    //     align-items: center;
    //     padding-left: 24px;
    //   }
    // }

    @include media-up(sm) {
      display: none;
    }
    .prueba {
      padding: 100px 5px;
      input {
        appearance: none;
        scale: 1.1;
      }
    }
  }
  .showMore {
    display: flex;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-decoration-line: underline;
    }
  }

  .offers {
    display: flex;
    padding-top: 20px;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
    }
  }
  .bottomLeft {
    display: flex;
    flex-direction: column;
    @include media-down(sm) {
      width: 80vw;
    }
    .offersList {
      padding: 41px 0px 29px;
      @include media-down(xs) {
        width: 50%;
        height: 50%;
      }
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
      }
      .latest {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #6b7280;
      }
    }
    .offersTable {
      display: flex;
      flex-direction: column;
      @include media-down(mobile) {
        width: 95vw;
      }
      table {
        thead {
          height: 53px;
          background-color: #f9fafb;
          tr {
            color: #6b7280;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
          }
        }
        tbody {
          tr {
            color: #6b7280;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 53px;
          }
          tr:nth-child(even) {
            background-color: #f9fafb;
          }
        }
      }
    }
  }
}

//------------------------------------------------------------------------------

.lowerRight {
  display: flex;
  height: 539px;
  width: 379px;
  top: 0;
  right: 0;
  justify-content: end;
  align-items: center;
  @include media-down(sm) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    //height: auto;
    @include media-down(mobile) {
      display: none;
    }
  }
  .modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 24px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    justify-content: space-around;
    align-items: center;
    @include media-down(sm) {
      display: none;
    }
    @include media-down(l) {
      width: 70%;
      height: 100%;
    }
    @include media-down(md) {
      width: 60%;
      height: 90%;
    }

    .priceAndPoints {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .subPricePoints {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 5;
        justify-content: space-between;
        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
        }
        .points {
          display: flex;
          h2 {
            display: flex;
            padding-left: 4px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
      h2 {
        width: 100%;
        text-align: start;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
      }
    }
    .time {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding-top: 20px;
      .hourMinSec {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        align-items: center;
        .times {
          display: flex;
          flex-direction: column;
          h1 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
          }
          .h-m-s {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
    .saleTime {
      display: flex;
      width: 100%;
      padding-top: 17px;
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
      }
    }
    .detailsButtons {
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      padding-top: 17px;
      .buyBtn {
        background: #48b343;
        border-radius: 8px;
        padding: 16px 24px;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        &:hover {
          background: #f9f9f9;
          color: #48b343;
        }
      }
      .bidear {
        border-radius: 8px;
        padding: 16px 24px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #5e5e5e;
        cursor: pointer;
        &:hover {
          background: #f9f9f9;
          color: #48b343;
        }
      }
    }
    .detailsBalance {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;
      .lines {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        .underline {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-decoration-line: underline;
        }
        .positiveNum {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
        .negativeNum {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #008a05;
        }
      }
    }
    .line {
      padding: 18px 0px;
      @include media-down(l) {
        width: 100%;
      }
      // @include media-down(md) {
      //   width: 60%;
      // }
    }
    .totalTaxesDetail {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
      .totalBTax {
        display: flex;
        font-family: "Inter";
        font-style: normal;
        font-weight: 590;
        font-size: 16px;
        line-height: 19px;
      }
      .beforeTaxNum {
        display: flex;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  .bidTablet {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
    }
    .equiv {
      font-family: "Inter";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: right;
    }
    .sliderBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #000000;
      border-radius: 8px;
      height: 44px;
      width: 161px;
      margin-top: 17px;
      position: relative;
      cursor: pointer;
      transition: all 0.25;
      input {
        border: none;
        width: 70%;
        padding-left: 12px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
      .subslide {
        display: flex;
        align-items: center;
        padding-right: 12px;
      }
    }

    .sliderBtn2 {
      display: flex;
      border: none;
      background-color: #f7931a;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      height: 44px;
      width: 161px;
      margin-top: 17px;
      cursor: pointer;
      transition: all 1;
      position: relative;
      h1 {
        padding-right: 28px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }
      .subslide {
        display: flex;
        align-items: center;
        padding-left: 24px;
      }
    }

    @include media-up(sm) {
      display: none;
    }
  }
}
