$breakpoints: (
  mobile: 540px,
  xs: 750px,
  sm: 900px,
  md: 1200px,
  lg: 1600px,
);

@mixin media-down($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin height-down($breakpoint) {
  @media screen and (max-height: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.modalPlaceBid {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.443);
  transition: opacity 0.25s, background-color 1s;
  z-index: 999;
  backdrop-filter: blur(4px);
}
.modalPlaceBid.is-close {
  opacity: 0;
  z-index: 0;
  background: none;
  pointer-events: none;
  transition: opacity 0.25s, background-color 0s;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: flex-start;
  width: 412px;
  height: 661px;
  background: var(--white-color);
  border-radius: 15px;
  position: relative;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 10px 10px 48px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 48px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 48px -18px rgba(0, 0, 0, 0.75);
  bottom: 1%;
  transition: bottom 0.25s;

  .closeIcon {
    cursor: pointer;
    position: relative;
    width: 16px;
    height: 16px;
    top: 20px;
    left: 25px;
    z-index: 9999;
  }
  .header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    //padding-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    h1 {
      position: relative;
      display: flex;
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .upper {
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding-left: 40px;
    padding-right: 50px;
    margin-top: 20px;
    width: 80%;
    .upHeader {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-bottom: 15px;
      align-items: center;
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #222222;
      }
      .personBid {
        display: flex;
        gap: 2px;
        img {
          width: 16px;
          height: 16px;
        }
        .bids {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #5e5e5e;
        }
      }
    }
    p {
      text-align: start;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: rgba(22, 22, 26, 0.6);
    }
    span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #16161a;
    }
  }

  .middle {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 50px;
    margin-top: 20px;
    width: 80%;
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .yourBid {
        border: 1px solid #b0b0b0;
        border-radius: 8px;
        text-align: left;
        padding-left: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #717171;
        input {
          padding-top: 5px;
          width: 85%;
          border: none;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #717171;
          padding-left: -20px;
        }
        input:focus::-webkit-input-placeholder {
          border: none;
        }
      }
      .bidExp {
        border: 1px solid #b0b0b0;
        border-radius: 8px;
        text-align: left;
        padding-left: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #717171;
        input {
          padding-top: 5px;
          width: 85%;
          border: none;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #717171;
          padding-left: -20px;
          input:focus::-webkit-input-placeholder {
            border: none;
          }
        }
      }
    }
    .detailsBalance {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-top: 50px;
      gap: 8px;
      .lines {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        .underline {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-decoration-line: underline;
        }
        .positiveNum {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
        }
        .negativeNum {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #008a05;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    //align-items: center;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 25px;
    width: 80%;
    gap: 25px;
    // .line {
    //   padding: 18px 0px;
    // }
    .totalTaxesDetail {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
      .totalBTax {
        display: flex;
        font-family: "Inter";
        font-style: normal;
        font-weight: 590;
        font-size: 16px;
        line-height: 19px;
      }
      .beforeTaxNum {
        display: flex;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }
    .bidBtn {
      background: #2EA828;
      border-radius: 8px;
      padding: 16px 24px;
      color: #ffffff;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      &:hover {
        background: #f9f9f9;
        color: #2EA828;
      }
    }
  }
}
