.details {
  position: relative;
}

.detailsImage {
  width: 100%;
  min-height: 411px;
}

.navMobile {
  position: absolute;
  top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navMobile img {
  padding-left: 1.5rem;
  cursor: pointer;
}

.navMobileItems {
  display: flex;
  gap: 2rem;
  padding-right: 1.5rem;
}

.navMobileItems div {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.navMobileItems img {
  width: 16px;
  cursor: pointer;
  height: 16px;
  padding: 0;
}

.navMobileItems p {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #ffffff;
}

.navMobileItems div:hover {
  transform: scale(1.1);
  transition: all ease-in 150ms;
}

.header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  position: relative;
}

.header h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  margin: 0;
  font-size: 24px;
  line-height: 40px;
}

.headerText {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Inter";
}

.headerText p {
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #6b7280;
}

.headerText i {
  display: flex;
  gap: 0.5rem;
}

.headerText i b {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.avatar {
  position: absolute;
  right: 1rem;
}

.info {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
}

.info h2 {
  display: none;
}

.features p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  line-height: 20px;
  color: #000000;
}

.description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin: 0;
  margin-top: 1rem;
}

.showMore {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filtersContainer h2 {
  color: #515562;
  text-align: left;
  font-family: Inter;
  padding: 0 1rem;
}

.filters {
  display: flex;
  padding: 0 1.2rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.filtersSelect {
  flex: 1;
}

.filters select {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #e6e8ec;
  color: #23262f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
  line-height: 21px;
  width: 100%;
  padding: 0 1rem;
}

.filters select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.filters option {
  outline: none;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
  border-radius: 12px;
  font-family: Inter;
}

.mosaic {
  display: none;
}

.linked {
  z-index: 9999;
}

@media screen and (min-width: 740px) {
  .detailsImage,
  .navMobile,
  .avatar {
    display: none;
  }

  .headerText p {
    order: 2;
  }

  .headerText i img {
    order: 1;
  }

  .header h2 {
    font-size: 30px;
  }

  .headerBtns {
    position: absolute;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  .headerBtns img:hover {
    transform: scale(1.1);
    transition: all ease-in 150ms;
  }

  .mosaic {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    gap: 0.5rem;
    border-radius: 12px;
    margin: 0 1rem;
    overflow: hidden;
  }

  .mosaic img {
    flex: 1;
    max-width: 50%;
  }

  .otherImages {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-flow: wrap;
    flex: 1;
  }

  .otherImages img {
    width: 150px;
  }

  .showAll {
    position: absolute;
    background-color: transparent;
    bottom: 1rem;
    right: 1rem;
    width: 167px;
    cursor: pointer;
  }

  .showAll:hover {
    transform: scale(1.1);
    transition: all ease-in 150ms;
  }

  .header {
    padding: 2rem 1rem;
  }

  .info {
    padding: 2rem 1rem;
  }

  .info h2 {
    display: block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 0;
    margin-bottom: 1rem;
  }

  .features {
    width: 100%;
    text-align-last: left;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 1.5rem;
  }

  .features p {
    font-size: 14px;
  }

  .description {
    margin: 0;
    padding-top: 2rem;
    font-size: 16px;
  }

  .relatedLands {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .filtersContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .filtersSelect {
    width: 180px;
  }

  .filters {
    gap: 1.5rem;
  }

  .filtersContainer h2 {
    padding: 0;
  }
}

@media (min-width: 980px) {
  .details {
    width: 100%;
  }
  .mosaic,
  .info,
  .header,
  .filtersContainer {
    margin: 0 auto;
    max-width: 1280px;
  }

  .otherImages img {
    object-fit: cover;
    min-width: 220px;
  }

  .info h2 {
    display: none;
  }

  .relatedLands {
    max-width: 1500px;
    margin: 0 auto;
  }
}
