.realEstateDetail {
	width: 100%;
	height: 70vh;
	max-height: 790px;
	overflow: auto;
	scrollbar-color: var(--orange-darker) transparent;
	scrollbar-width: thin;
	.section {
		display: flex;
		justify-content: space-between;
		.section__figure {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 40vw;
			max-width: 690px;
			margin: 0px 0px 0px 9%;
		}
		.section__image {
			width: 30vw;
			height: 30vw;
			max-width: 690px;
			border-radius: 16px;
		}
		.section__div {
			display: flex;
			align-items: flex-start;
			padding-left: 50px;
			width: 100%;
		}
		.section__p {
			width: 100%;
		}
		.showMore {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			font-size: 15px;
		}
		.section__small {
			align-self: center;
		}
		.section__hr {
			width: 90%;
			margin-left: 0;
			margin-right: 0;
			align-self: center;
		}
		.section__small:hover {
			cursor: pointer;
		}
		.aside__text {
			font-family: 'Inter';
			color: var(--black-color);
			margin: 0px;
		}
		.aside__text--bold {
			font-weight: 700;
		}
		.aside__text--large {
			font-size: 32px;
		}
		.aside__text--medium {
			font-size: 19px;
		}

		.aside__text--gray {
			color: var(--gray-darker);
		}
		.aside__text--semibold {
			font-weight: 500;
		}
		.section__text--justify {
			text-align: justify;
		}
		.aside {
			display: flex;
			flex-direction: column;
			width: 25vw;
			margin-right: 5vw;
			align-items: flex-start;

			.aside__section {
				display: flex;
				margin-top: 32px;
				margin-left: 15px;
				align-items: center;
			}
			.aside__figure {
				display: flex;
				justify-content: center;
				background-color: var(--black-color);
				margin: 0px 16px 0px 0px;
				width: 40px;
				height: 40px;
				border-radius: 8px;
				box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.4),
					0 2px 4px -2px rgb(0 0 0 / 0.5);
			}
			.aside__div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}

			.sectionActions {
				width: 90%;
				margin: 60px auto;
				.hr {
					color: var(--gray-color);
					font-weight: 200;
				}
				.actions {
					display: flex;
					justify-content: space-around;
					.actions__div {
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.actions_span {
						margin-left: 15px;
					}
				}
			}
			.cardBid {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				height: 50%;
				max-height: 225px;
				border: 1px solid var(--gray-color);
				border-radius: 16px;
				.cardBid__div {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					width: 80%;
					height: 40%;
					margin: 20px auto 10px auto;
					padding-left: 20px;
					background-color: var(--orange-background);
					border-radius: 14px;
				}
				.cardBid__button {
					width: 85%;
					margin: auto;
					background-color: var(--orange-darker);
					color: var(--white-color);
					transition: 0.15s;
				}
				.cardBid__button:hover {
					background-color: var(--orange-hover);
				}
			}
		}
	}
	.section--flex--column {
		flex-direction: column;
	}
	.aside__text--gray-darker {
		color: rgba(22, 22, 26, 0.8);
	}
	.ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 0px;
		list-style: none;
		border: 1px solid var(--gray-color);
		border-radius: 16px;
		margin-bottom: 0px;
		.ul__li {
			padding: 15px 20px;
			width: 50%;
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	.cards {
		display: flex;
		justify-content: center;
		gap: 1vw;
		padding: 15px;
	}
	.link {
		width: 15vw;
	}
	.h2 {
		margin: 55px;
	}
}
.realEstateDetail::-webkit-scrollbar {
	width: 2px;
	height: 5px;
}

.realEstateDetail::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

.realEstateDetail::-webkit-scrollbar-thumb:vertical {
	height: 15px;
	background-color: var(--orange-darker);
}
