.realEstateDetail {
	width: 100%;
	max-height: 80%;
	overflow: auto;
	display: grid;
	grid-template-columns: [first] 55% [second] auto;
	grid-template-rows: repeat(3, 1fr);
	scrollbar-color: var(--orange-darker) transparent;
	scrollbar-width: thin;
	.figure {
		.figure__image {
			width: 80%;
			height: 100%;
			border-radius: 16px;
		}
	}
	.section {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		width: 80%;
		margin: auto;
		.section__div {
			display: flex;
			align-items: flex-start;
			width: 100%;
			.border {
				border: 1px solid var(--modern-white);
				border-radius: 14px;
				padding-left: 20px;
				width: calc(100% - 20px);
			}
		}
		.section--flex--column {
			flex-direction: column;
		}
	}

	.aside {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 30px auto;
		align-items: flex-start;
		height: 100%;
		.aside__section {
			display: flex;
			margin-top: 32px;
			margin-left: 15px;
			align-items: center;
		}
		.aside__figure {
			display: flex;
			justify-content: center;
			background-color: var(--black-color);
			margin: 0px 16px 0px 0px;
			width: 40px;
			height: 40px;
			border-radius: 8px;
			box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.4),
				0 2px 4px -2px rgb(0 0 0 / 0.5);
		}
		.aside__div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}

		.sectionActions {
			width: 90%;
			margin: 60px auto;
			display: flex;
			flex-direction: column;
			.hr {
				color: var(--modern-white);
				font-weight: 200;
				margin-left: 0;
				margin-right: 0;
			}
			.actions {
				display: flex;
				justify-content: space-around;
				.actions__div {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				.config {
					display: none;
				}
				.actions_span {
					margin-left: 15px;
				}
			}
		}
		.cardBid {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 50%;
			border: 1px solid var(--modern-white);
			border-radius: 14px;
			.cardBid__div {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-evenly;
				width: 80%;
				height: 50%;
				margin: 20px auto;
				padding-left: 20px;
				background-color: var(--orange-background);
				border-radius: 12px;
			}
			.end_date {
				color: var(--gray-color);
				padding-bottom: 15px;
			}

			.cardBid__button {
				width: 85%;
				margin: 15px auto;
				background-color: var(--orange-darker);
				color: var(--white-color);
				transition: 0.15s;
				border-radius: 16px;
				font-weight: 800;
			}
			.cardBid__button--bg-transparent {
				background-color: transparent;
				border: 1px solid var(--modern-white);
				color: var(--black-color);
			}
			.cardBid__button--bg-transparent:hover {
				background-color: var(--gray-color) !important;
				color: var(--white-color);
			}
			.cardBid__button:hover {
				background-color: var(--orange-hover);
			}
		}
	}
	.cards {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		.gridCards {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: 1fr;
			margin: 30px auto;
			width: 90%;
		}
	}
	.aside__text {
		font-family: 'Inter';
		color: var(--black-color);
		margin: 0px;
	}
	.aside__text--bold {
		font-weight: 700;
	}
	.aside__text--large {
		font-size: 32px;
	}
	.aside__text--medium {
		font-size: 19px;
	}
	.showMore {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-size: 15px;
	}
	.section__small {
		align-self: center;
	}
	.section__hr {
		width: 90%;
		margin-left: 0;
		margin-right: 0;
		align-self: center;
		color: var(--modern-white);
	}
	.section__small:hover {
		cursor: pointer;
	}
	.aside__text--gray {
		color: var(--gray-darker);
	}
	.aside__text--semibold {
		font-weight: 500;
	}
	.section__text--justify {
		text-align: justify;
	}
	.section__p {
		margin-top: 15px;
	}
	.ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 0px;
		list-style: none;
		border: 1px solid var(--modern-white);
		border-radius: 16px;
		margin-bottom: 0px;
		.ul__li {
			padding: 15px 20px;
			width: fit-content;
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}

	.link {
		width: 13vw;
		margin: auto;
		height: 19vw;
	}
	.h2 {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 1;
		grid-row-end: 2;
	}
}
.realEstateDetail::-webkit-scrollbar {
	width: 2px;
	height: 5px;
}

.realEstateDetail::-webkit-scrollbar-track-piece {
	background-color: transparent;
}

.realEstateDetail::-webkit-scrollbar-thumb:vertical {
	height: 15px;
	background-color: var(--orange-darker);
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.realEstateDetail {
		max-height: calc(100vh - 17em);
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
		margin-top: -10px;
		.figure {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 2;
			width: 100%;
			margin: 0px;
			.figure__image {
				margin: auto;
				width: 90%;
			}
		}
		.aside {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 3;
			width: 90%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: [first] 150px [second] auto;
			.display--none {
				display: none;
			}
			#land {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: first;
				grid-row-end: second;
				margin-top: 50px;
			}
			.aside__section {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: first;
				grid-row-end: second;
				margin-top: 0;
				margin-bottom: 5px;
			}
			.aside__figure {
				width: 20px;
				height: 20px;
				border-radius: 4px;
				box-shadow: none;
				margin-left: 15px;
				font-weight: 300;
			}
			.sectionActions {
				grid-column-start: 1;
				grid-column-end: 4;
				grid-row-start: first;
				grid-row-end: second;
				margin-top: 100px;
				flex-direction: column-reverse;
				.actions {
					.config {
						display: flex;
						background-color: transparent;
					}
				}
			}
			.cardBid {
				grid-column-start: 1;
				grid-column-end: 4;
				grid-row-start: second;
				grid-row-end: 3;
				margin: 20px auto;
				height: 100%;
				max-height: none;
				.cardBid__div {
					background-color: var(--modern-white);
					width: 82%;
					height: 30%;
					margin: 0px auto;
				}
			}
		}
		.section {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 3;
			grid-row-end: 4;
			width: 90%;
			margin-top: 50px;
			.section__div {
				margin: 20px auto;
			}
		}

		.cards {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 5;
			grid-row-end: 6;
			display: flex;
			flex-direction: column;
			height: fit-content;

			.gridCards {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-template-rows: 1fr;
				height: fit-content;
				width: fit-content;
				margin: 0px;
				max-width: 100vw;
				overflow-x: auto;
			}
		}
		.link {
			width: 50vw;
			height: max-content;
			margin-bottom: 5px;
		}
	}
}
