.classes-container {
  height: 76px;
  width: 100%;
  overflow: hidden;
  padding: 0 0.5rem;
  .classes-card-container {
    display: flex;
    gap: 30px;
    .classes-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 76px;
      width: 100%;
      cursor: pointer;
      img {
        width: 24px;
        pointer-events: none;
      }
      p {
        margin: 0;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-transform: capitalize;
        color: #000000;
        opacity: 0.65;
        margin-top: 8px;
        white-space: nowrap;
      }
    }
  }
}

@media (min-width: 740px) {
  .classes-container {
    padding: 1rem;
    width: auto;
  }
}

@media (min-width: 1250px) {
  .classes-container {
    margin-inline: clamp(4rem, 12vw, 17.5rem);
  }
}
