.Container{
    width: 640px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
    border-radius: 12px;
    top: 5em;
    transition: 500ms;
}

.flexContainer{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-auto-rows: 70px;
    gap: 2.5em;
    column-gap: 4em;
    align-items: center;
}

.button, .buttonSoon{
    display: flex;
    flex-direction: row;
    gap:1em;
    height: 70px;
}
.button2{
    display: flex;
    flex-direction: row;
    gap:1em;
    height: 70px;
    grid-row-start: 3;
}

.buttonMore{
    display: none;
    pointer-events: none;
}


.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.icon svg{
    width: 45%;
    height: 45%;
    color: #5B5B5B;
}

.text{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 0 !important;

}

.text h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

.title svg{
    width: 20px;
    height: 20px;
}

.text p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #5B5B5B;
}
.button:hover , .button2:hover, .buttonSoon:hover{

    .title svg, .text h1, .icon svg{
        color: #2EA828;
    }
}

@media screen and (max-width: 800px) {
    .Container{
        width: 100%;
        top: auto;
        position: relative;
        margin-top: 1em;
        margin-bottom: 1em;
        box-shadow: none;
    }
}

@media screen and (max-width: 500px) {
    .Container{
        width: 94.5%;
        height: auto;
        padding: 1em;
        top: auto;
        box-shadow: none;
        position: relative;
    }
    .flexContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 0em;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0 !important;
    }
    .buttonMore{
        display: flex;
        flex-direction: row;
        gap:1em;
        height: 70px;
    }
    .button, .button2, .buttonMore{
        width: 25%;
        height: 25%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttonSoon{
        display: none;
        pointer-events: none;
    }

    .text p{
        display: none;
    }

    .title svg{ display: none;}

    .title{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .title h1{
        font-size: 12px;
    }

    .icon{
        width: 70px;
        height: 70px;
        filter: none;
    }

}