.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 231px;
    position: fixed;
height: 262px;
background: #ffffff;
box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
border-radius: 12px;
top:5em;
}

.flexContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    align-items: flex-start;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 0;
color: #777E90;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    left: 0;
}


.flexContainer p:hover{
    color: #2EA828;
}
@media screen and (min-width: 800px) {
    .flexContainer{
        justify-content: space-evenly;
    }
    .buttons{
        justify-content: space-around;
    }
}

@media screen and (max-width: 800px){
    .container{
        top: auto;
        position: relative;
        box-shadow: none;
        min-height: 100em;
        width: 100%;
    }
    .connect{
        display: none;
        pointer-events: none;
    }
    .buttons{
        position: absolute;
        top: 3em;
        min-height: 25em;
        gap: 3em;
    }


    .buttons a{
        font-family: 'Inter';
        align-items: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 0;
    color: #777E90;
    text-decoration: none;
    margin-left: 2em;
    }

    .dropdown, .dropdownActive{
        height: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #2EA828;
        gap: 1em;
    }

    .dropdown svg{
        transition: .2s;
    }

    .dropdownActive svg{
        transform: rotate(180deg);
        transition: .2s;
    }

    .flexList{
        display: flex;
        flex-direction: column;
        gap:.2em;
        margin-left: 2.5em;
    }
    .notList{
        display:none;
        pointer-events: none;
    }

    .ConnectButtom{
        width: 100%;
    }
    
}