.Container{
    width: 281px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.4);
    border-radius: 12px;
    top: 5em;
    transition: 500ms;
}

.FlexContainer{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}
.Buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.Buttons button{
    align-items: center;
    justify-content: center;
    display: flex;
}

.Button{
    background: none;
    border: none;
    color:#5B5B5B;
    height: 32px;
    transition: background-color .5s;
}

.ActiveButton{
    background-color:#2EA828 ;
    height: 32px;
    transition: background-color .5s;
}

.ActiveButton{
    color: #FFFFFF;
}

.GridContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 60px;
    align-items: center;
}

.GridContainer p:hover{
    color:#2EA828;
}

@media screen and (max-width: 600px) {

    .Container{
        position: relative;
        width: 100%;
        margin-top: 14em;
        box-shadow: none;
    }
    .FlexContainer{
        flex-direction: row;
        align-items: flex-start;
    }

    .Buttons{
        flex-direction: column;
    }
}