@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.container {
  height: 605px;
  width: 365px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 16px 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.07s all ease-in-out;
  margin-bottom: 4%;
  background-color: white;
  &:hover {
    transform: scale(1.01);
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 313px;
    height: 50px;
    background: #fff1f2;
    border: 1px solid #fff1f2;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #f7931a;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: #f7931a;
      color: #ffffff;
    }
  }
  .banner {
    height: 145px;
    position: relative;
    .logoD {
      height: 80px;
      width: 80px;
      position: absolute;
      left: 6%;
      bottom: -30%;
      box-shadow: 0px 8px 4px -6px #00000060;
    }
  }
  .props {
    height: 251px;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    .info {
      .info_bar {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height: 17px;
        font-family: "Arial";
        font-style: normal;
        .info_for {
          font-weight: 400;
          color: #9597a1;
        }
        .info_per {
          font-weight: 700;
        }
      }
      .info_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        h3 {
          margin-block-start: 0px;
          margin-block-end: 0px;
          width: 84px;
          height: 26px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 0.18px;
        }
        span {
          display: flex;
          align-items: center;
          gap: 8px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 26px;
          letter-spacing: 0.16px;
          color: #767a85;
        }
      }
    }
    .details {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .menu_item {
        cursor: pointer;
        margin-right: 10px;
        padding-bottom: 2px;
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        transition: 0.1s ease-in-out;
        color: #767a85;
      }
      .active {
        font-weight: bold;
        border-bottom: 4px solid #000000;
        color: #000000;
      }
      .description {
        margin-top: 10px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 26px;
        letter-spacing: 0.16px;
      }
      .offerings {
        padding-top: 10px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        .offerings_item {
          font-family: "Inter";
          font-style: normal;
          display: flex;
          flex-direction: column;
          line-height: 22px;
          letter-spacing: 0.16px;
          .offerings-item_title {
            font-weight: 400;
            font-size: 13px;
            color: #767a85;
          }
          .offerings-value {
            font-weight: 700;
            font-size: 12px;
            color: #0a113c;
          }
        }
      }
    }
  }
}
